<footer>
    <a href="/" class="btn-mobile"><i class="fa-solid fa-house"></i><div class="txt-mobile">Home</div></a>
    <a href="/currencies" class="btn-mobile"><i class="fa-solid fa-money-bill"></i><div class="txt-mobile">Currency</div></a>
    <a href="/userslist" class="btn-mobile"><i class="fa-solid fa-user"></i><div class="txt-mobile">Edit Users</div></a>
</footer>