<nav>
    <a href="/" class="logo">MONEYCHANGER<span>GOOD</span></a>
    <div class="btn-wrap">
        <a class="btn-clock" href="/signup">SIGNUP</a>
        <a class="btn-clock" href="/signin">SIGNIN</a>
    </div>
</nav>