<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN ADMIN</title>
    <%- include('partials/style'); %>
</head>
<body>
    <%- include('partials/navbar'); %>

    <div class="container">
        <h1>LOGIN ADMIN</h1>
    
        <form action="/admin" method="post">
    
            <div class="input-wrap">
                <% if (error) { %>
                    <p style="color: red;"><%= error %></p>
                <% } %> 
            </div>
    
            <div class="input-wrap">
                <label for="email">Email : </label><br>
                <input type="text" id="email" name="email" autocomplete="off">
            </div>
    
            <div class="input-wrap">
                <label for="password">Password : </label><br>
                <input type="password" id="password" name="password">
            </div>
    
            <div class="input-wrap">
                <button class="btn-click" type="submit">LOGIN</button>
            </div>
    
        </form>
    </div>
    
    
    

</body>
</html>